.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
    width: 100%;
    height: 520px;
}

.register-container
{
    margin: 0 auto;
    width: 80%;
}

table
{
    width: 100%;
    border-spacing: 0 0.5vw;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    text-shadow: 0.1em 0.1em 0.2em black;
}

td input
{
    box-shadow: inset 0 1px 2px #56412c, 0 -1px 1px #48382b, 0px -2px 0 #2f241a;
    background-color: rgba(92, 70, 49, 0.6);
    border: 1px solid transparent;
    border-top: none;
    border-radius: 2px;
    height: 25px;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    width: 100%;
}

table .label
{
    width: 30%;
}

textarea, select, input, button { outline: none; }

.tos-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 5.0vw;
}

#tos-notice
{
    width: 60%;
    font-size: 1.2vw;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.tos-agreement
{
    margin-top: 1.5vw;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.tos-agreement input
{
    width: 12px;
    height: 12px;
}

.register-button-container
{
    margin-top: -3vw;
    display: flex;
    justify-content: center;
}


button
{
    width: 10vw;
    height: 4vw;
    background-color: rgba(61, 44, 29, 0.9);
    border: 1px solid transparent;
    border-radius: 4px;   
    font-size: 1.2vw;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
}
button:focus 
{ 
    outline: none; 
}

button:hover
{
    cursor: pointer;
    background-color: rgba(88, 66, 43, 0.9) !important;
}

.errors
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.error
{
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    background-color: #962828;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(177, 38, 4, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.success
{
    margin-top: 0.2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.success p
{
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    background-color: #035800;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(0, 88, 8, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

h1
{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.login-wrapper
{
    width: 100%;
    text-align: center;
}

.login
{
    font-family: 'Roboto Slab', serif;
    color: #d68838;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.login a
{
    text-decoration: underline;
    color: inherit;
}

.login a:hover
{
    cursor: pointer;
    color: #f8aa5b;;
    text-shadow: 0.1em 0.1em 0.2em black;
}