<div class="container">
    <p><strong>State: </strong>{{interopService.State.State}}</p>
    <p><strong>HasErrors: </strong>{{interopService.State.HasErrors}}</p>
    <p><strong>ErrorMessages: </strong>{{interopService.State.ErrorMessages}}</p>
    <p><strong>Download Speed: </strong>{{interopService.State.Progress.DownloadSpeed}}</p>
    <p><strong>Processed Files: </strong>{{interopService.State.Progress.ProcessedCount}}</p>
    <p><strong>Total Files: </strong>{{interopService.State.Progress.TotalCount}}</p>
    <p><strong>Processed Size: </strong>{{interopService.State.Progress.ProcessedSize}}</p>
    <p><strong>Total Size: </strong>{{interopService.State.Progress.TotalSize}}</p>
    <p><strong>Current File: </strong>{{interopService.State.Progress.CurrentFile}}</p>
</div>