<div class="wrapper">
    <div class="content-container">

    </div>
    <div class="patch-container">
        <div class="status-message">
            <p>{{statusMessage}}</p>
        </div>
        <table>
            <tr>
                <td id="first">
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="progress-bar-partial">
                            <div class="progress-bar-content" id="progress-bar-partial-content">

                            </div>
                        </div>
                        <div class="progress-bar" id="progress-bar-full">
                            <div class="progress-bar-content" id="progress-bar-full-content">

                            </div>
                        </div>
                    </div>
                </td>
                <td id="second">
                    <div class="button-container">
                        <button id="select-account" (click)="toggleModal()">
                            Select Account
                        </button>
                        <button id="start-game" (click)="gameButtonClick()">
                            {{startButtonText}}
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal-wrapper" *ngIf="modalOpen">
    <p>Choose Acccount</p>
    <img class="close-logo" src="../assets/baseline-close-24px.svg" (click)="toggleModal()">
    <img class="add-logo" src="../../../assets/baseline-add_box-24px.svg" (click)="addAccount()">
</div>