.wrapper
{
    height: 100%;
    width: 100%;
}

.content-container
{
    width: 100%;
    height: 70%;
    outline: 1px solid purple;
}


.patch-container
{
    margin-top: 5%;
    //margin-right: 0px;
    width: calc(100%-10px);
    //outline: 1px solid purple;
    height: 20%;
}

.progress-bar-container
{
    width: 100%;
    height: 100%;
}

#progress-bar-partial
{
    margin-bottom: 5px;
}

.progress-bar
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(50% - 7px);
    border: 3px solid rgb(41, 30, 20);
    border-radius: 2px;
    background: transparent;
}

.progress-bar::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 4px 9px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 9px 31px 0px rgba(0,0,0,0.75);
    box-shadow: inset 4px 9px 31px 0px rgba(0,0,0,0.75);
    content: "";
}

.progress-bar::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset -8px -9px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -8px -9px 18px -5px rgba(0,0,0,0.75);
    box-shadow: inset -8px -9px 18px -5px rgba(0,0,0,0.75);
    content: "";
}

.progress-bar-content
{
    height: 100%;
}

#progress-bar-partial-content
{
    width: 0%;
    background-color: rgba(150, 21, 17,0.8)
}

#progress-bar-full-content
{
    width: 0%;
    background-color: rgba(0, 15, 65, 0.8)
}

.button-container
{
    width: 100%;
    height: 100%;
}

table
{
    width: 100%;
    height: 100%;
}

#first
{
    width: 70%;
}

#second
{
    width: 30%;
}

#select-account
{
    margin-bottom: 10px;
}

button
{
    margin-left: 10px;
    width: calc(100% - 5px);
    height: calc(50% - 5px);
    background-color: rgba(61, 44, 29, 0.9);
    border: 1px solid transparent;
    border-radius: 4px;   
    font-size: 1.2vw;
    font-family: 'Roboto Slab', serif;
    color: rgb(183, 155, 127)
}
button:focus 
{ 
    outline: none; 
}

button:hover
{
    cursor: pointer;
    background-color: rgba(88, 66, 43, 0.9) !important;
}

.status-message
{
    position: absolute;
    top: 285px;
    left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(183, 155, 127,0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.modal-wrapper
{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 128px;
    top: -10px;
    -webkit-box-shadow: 0px 0px 59px 11px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 59px 11px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 59px 11px rgba(0,0,0,0.69);
    background-color: #82583b;
    text-align: center;
}

.modal-wrapper p{
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px -1px 0px rgb(243, 243, 243);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.modal-wrapper .close-logo
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
}

.modal-wrapper .close-logo:hover
{
    cursor: pointer;
}

.modal-wrapper .add-logo
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 42px;
    height: 42px;
}

.modal-wrapper .add-logo:hover
{
    cursor: pointer;
}