<div class="this">
    <div class="top-panel">
        <div class="right-top">
            <div class="icon-announce" [ngClass]="{'hidden': !this.authenticationService.isLoggedIn}"></div>
            <a class="icon-option" [ngClass]="{'hidden': !this.authenticationService.isLoggedIn}" routerLink="/settings"></a>
            <div class="icon-minimize" (click)="minimize()"></div>
            <div class="icon-close" (click)="close()"></div>
        </div>
        <div class="left-top" [ngClass]="{'hidden': !this.authenticationService.isLoggedIn}">
            <a class="icon-profile" routerLink="/"></a>
            <div class="icon-expand-profile" (click)="this.toggleProfile()"></div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<div class="drag-region left"></div>
<div class="drag-region right"></div>
<div class="drag-region top"></div>
<div class="drag-region top2"></div>
<div class="drag-region bottom1"></div>
<div class="drag-region bottom2"></div>

<input [(ngModel)]="this.selectAccService.selectedAccountId" class="admin-input" *ngIf="this.authenticationService.isAdmin()">

<div class="profile" id="profile" *ngIf="profileUnfolded">
    <p class="email" id="email">{{ this.authenticationService.userInfo.email }}</p>
    <div class="external-links">
        <p (click)="openWeb()">Website</p>
        <p (click)="openDiscord()">Discord</p>
    </div>
    <p class="logout" (click)="logout()">Logout</p>
</div>

<modal></modal>
<select-account></select-account>