<img class="slider-test" src="./assets/slider1.png">
<p>{{statusMessage}}</p>
<img class="progress-right" src="./assets/loadbar_bg.png">
<img class="progress-right" src="./assets/loadbar_red.png" id="part-right">
<img class="progress-right" src="./assets/loadbar_frame.png">
<img class="progress-left" src="./assets/loadbar_bg2.png">
<img class="progress-left" src="./assets/loadbar_red2.png" id="part-left">
<img class="progress-left" src="./assets/loadbar_frame2.png">

<div class="" [ngClass]="getStartButtonClass()" (click)="gameButtonClick()"></div>