.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
}

input
{
    box-shadow: inset 0 1px 2px #56412c, 0 -1px 1px #48382b, 0px -2px 0 #2f241a;
    background-color: rgba(92, 70, 49, 0.6);
    border: 1px solid transparent;
    border-top: none;
    border-radius: 2px;
    height: 25px;
    font-family: 'Roboto Slab', serif;
    color: rgba(183, 155, 127, 1);
    margin-bottom: 10px;
    width: 50%;
}

h1
{
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(183, 155, 127,0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

button
{
    width: 10vw;
    height: 4vw;
    background-color: rgba(61, 44, 29, 0.9);
    border: 1px solid transparent;
    border-radius: 4px;   
    font-size: 1.2vw;
    font-family: 'Roboto Slab', serif;
    color: rgb(183, 155, 127)
}
button:focus 
{ 
    outline: none; 
}

button:hover
{
    cursor: pointer;
    background-color: rgba(88, 66, 43, 0.9) !important;
}

.errors
{
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error
{
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    background-color: #962828;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(177, 38, 4, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.success
{
    margin-top: 0.2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.success p
{
    font-size: 0.8vw;
    font-family: 'Roboto Slab', serif;
    background-color: #035800;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(0, 88, 8, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}