<div class="bg">
    <div class="icon-close" (click)="close()"></div>
    <div class="content" *ngIf="!createMode">
        <h1 class="title">Select an Account</h1>
        <div class="table-container">
            <table>        
                <tr *ngFor="let item of selectAccService.gameAccounts">
                    <td class="selected" (click)="selectAccService.selectAccount(item.alias,item.account)">
                        <span *ngIf="selectAccService.selectedAccountId == item.account">&gt;</span>
                    </td>
                    <td (click)="selectAccService.selectAccount(item.alias,item.account)" *ngIf="!(editMode && editId == item.id)" class="first">{{item.alias}}</td>
                    <td *ngIf="(editMode && editId == item.id)" class="first">
                        <input type="text" [(ngModel)]="editAlias">
                    </td>
                    <td class="edit">
                        <span *ngIf="!(editMode && editId == item.id)" (click)="edit(item.id, item.account, item.alias)">edit</span>
                        <span *ngIf="(editMode && editId == item.id)" (click)="save(item.id)">save</span>
                    </td>
                </tr>
            </table>
        </div>
        <input class="start" type="button" value="Create New Account" (click)="openCreateMode()">
        <input class="start" type="button" value="START" (click)="startGame()">
    </div>
    <div class="content" *ngIf="createMode">
        <h1 class="title">Create an Account</h1>
        <p>You only need to enter the visible Name</p>
        <input class="alias" [(ngModel)]="createAlias" type="text" placeholder="Name">
        <input class="start" type="button" value="Create" (click)="createNewAccount()">
        <input class="start" type="button" value="Cancel" (click)="cancelCreate()">
    </div>
</div>
<!--<div class="shadow"></div>-->