/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  background-color: transparent;
}
